
body
{
  margin: 0;
  text-align: center;
  font-family: 'Nunito', sans-serif;

}
h1
{
  margin: 50px auto 0 auto;

  font-size: 6rem;
  font-family: 'Sacramento', cursive;
}

h2
{
  font-family: 'Nunito', sans-serif;
  font-size:  2.5rem;


}
h3
{
  font-family: 'Nunito', sans-serif;


}
p
{
  font-family: 'Nunito', sans-serif;
}


/* #################### Classes ######################### */

.top-container
{
  background-color: #e3fdfd;
  padding-top: 150px;
}


.programmer-img
{
  max-width: 150px;
  max-height: 150px;
}
.skills-dev-img
{
  max-width: 75px;
  max-height: 75px;
}

.top-cloud
{
  position: absolute;
  top: 50px;
  right: 300px;
}
.bottom-cloud
{
  position: absolute;
  bottom: 400px;
  left: 300px;
}
